:root {
  --md-admonition-icon--call-made: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M185.174 869.826Q170.5 855.152 170.5 836t14.674-33.826L601.848 385.5H400q-19.152 0-33.326-14.174T352.5 338q0-19.152 14.174-33.326T400 290.5h317q19.152 0 33.326 14.174T764.5 338v317q0 19.152-14.174 33.326T717 702.5q-19.152 0-33.326-14.174T669.5 655V452.152L250.826 870.826q-14.674 14.674-33.446 13.555-18.771-1.12-32.206-14.555Z"/></svg>');
  --md-admonition-icon--call-received: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 96 960 960"><path d="M238.848 903.652q-19.152 0-33.326-14.174t-14.174-33.326v-317q0-19.152 14.174-33.326t33.326-14.174q19.152 0 33.326 14.174t14.174 33.326V742l418.674-418.674q13.674-13.674 33.445-13.554 19.772.119 33.207 14.554 14.674 13.674 14.174 33.326t-15.174 34.326L354 808.652h201.848q19.152 0 33.326 14.174t14.174 33.326q0 19.152-14.174 33.326t-33.326 14.174h-317Z"/></svg>');
}
/* custom admonition type: call-made */
.md-typeset .admonition.call-made,
.md-typeset details.call-made {
  border-color: #448aff;
}
.md-typeset .call-made > .admonition-title,
.md-typeset .call-made > summary {
  background-color: #448aff1a;
}
.md-typeset .call-made > .admonition-title::before,
.md-typeset .call-made > summary::before {
  background-color: #448aff;
  -webkit-mask-image: var(--md-admonition-icon--call-made);
  mask-image: var(--md-admonition-icon--call-made);
}
/* custom admonition type: call-received */
.md-typeset .admonition.call-received,
.md-typeset details.call-received {
  border-color: #00b0ff;
}
.md-typeset .call-received > .admonition-title,
.md-typeset .call-received > summary {
  background-color: #00b0ff1a;
}
.md-typeset .call-received > .admonition-title::before,
.md-typeset .call-received > summary::before {
  background-color: #00b0ff;
  -webkit-mask-image: var(--md-admonition-icon--call-received);
  mask-image: var(--md-admonition-icon--call-received);
}
